.popupContent{
    -fx-background-color: #e7decc;
    -fx-padding: 20;
    -fx-alignment: center;
    -fx-font-family: "Lucida Console";
    -fx-font-size: 15;
}

.popText{
    -fx-alignment: center;
}

.button{
    -fx-padding: 15;
    -fx-background-color: linear-gradient(to right, #4CAF50, #2196F3);
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-background-radius: 15px;
}