.serverConnect{
    -fx-background-color: coral;
    -fx-padding: 70;
}

.mainContents{
    -fx-alignment: center;
    -fx-font-family: "Gill Sans Ultra Bold";
    -fx-font-size: 12;
}

.interactContent{
    -fx-alignment: center;
    -fx-padding: 20 0 0 0;
    /*-fx-font-size: 15;*/
}